<html>
  <head>
    
    <title>SWAMP Blimps</title>

    <style>
      h1 {text-align: center;}
      p {text-align: center;}
      div {text-align: center;}
      .container {
			  text-align: center;
		  }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      // Function to send an AJAX request to the Flask route and update the boolean value
      function updateBool(value) {
        $.ajax({
          url: '/update-bool',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({'new_bool': value}),
          success: function(response) {
            console.log(response);
          },
          error: function(error) {
            console.log(error);
          }
        });
      }
    </script>

  </head>
  <body>

    <h1> SWAMP Blimps</h1>

    <div class="container">
      <img src="{{ url_for('video_feed') }}">
    </div>

    <p>Boolean value: <span id="boolValue"></span></p>
    <div style="text-align: center;"></div>
      <button onclick="toggleBool()">Toggle Boolean Value</button>
    </div>
    <script>
      // Define a global boolean variable
      var myBool = true;

      function toggleBool() {
        // Toggle the boolean value
        myBool = !myBool;
        // Update the span element to display the current boolean value
        document.getElementById("boolValue").innerHTML = myBool.toString();
        // Send an AJAX request to update the boolean value on the server-side
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/update-bool');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
          if (xhr.status === 200) {
            console.log('Boolean value updated successfully');
          } else {
            console.log('Error updating boolean value');
          }
        };
        xhr.send(JSON.stringify({'new_bool': myBool}));
      }
    </script>

  </body>
</html>
