body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 1%;
    font-family: Arial, sans-serif;
  }
  button {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-top: 20px;
  }
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 10px;
    border: 1px solid black;
  }
  .column-container {
    display: flex;
    flex-wrap: wrap; /* Allow columns to wrap to a new line if needed */
    /* justify-content: space-evenly; */
    align-items: flex-start;
  }
  .column {
    min-width: calc(100vw / 7); /* Each column is one-sixth of the page width */
    flex-wrap: wrap; /* Allow columns to wrap to a new line if needed */
    text-transform: uppercase; /* Capitalize the header name */
    /* height: 50px; /* Adjust this height as needed */
    flex-direction: column;
  }
  .blimp-column {
    min-width: calc(100vw / 5); /* Each column is one-sixth of the page width */
    flex-wrap: wrap; /* Allow columns to wrap to a new line if needed */
    text-transform: uppercase; /* Capitalize the header name */
    /* height: 50px; /* Adjust this height as needed */
    flex-direction: column;
  }
  .inputs-column {
    flex-basis: 100%; /* Take up the full width of other columns */
    text-transform: uppercase; /* Capitalize the header name */
  }
  th {
    font-size: 25px; /* Increase the text size of the column headers */
  }
  .input-display {
    display: flex;
    justify-content: center;
  }
  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
  }
  #grid1, #grid2, #grid3, #grid4 {
      position: relative;
      height: 125px;
      width: 125px;
      border: 1px solid black;
      box-sizing: border-box;
  }
  #grid2, #grid4 {
      margin-left: -1px;
      border-left: none;
  }
  #dot1, #dot2, #dot3, #dot4 {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 15px;
      width: 15px;
      background: black;
      border-radius: 50%;
      transform: translate(-50%, -50%);
  }
  #x-axis1, #y-axis1, #x-axis2, #y-axis2, #x-axis3, #y-axis3, #x-axis4, #y-axis4 {
      position: absolute;
      background: black;
  }
  #x-axis1, #x-axis2, #x-axis3, #x-axis4 {
      top: 50%;
      width: 100%;
      height: 1px;
  }
  #y-axis1, #y-axis2, #y-axis3, #y-axis4 {
      left: 50%;
      height: 100%;
      width: 1px;
  }
  .center {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 1px;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
  }
  h2 {
    text-align: center;
    font-size: 22px;
    /* text-transform: none; */
  }
  h3 {
    text-align: center;
    font-size: 27px;
    margin-top: 39px;
    margin-bottom: 39px;
  }
  h4 {
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 39px;
  }
  h5 {
    text-align: left;
    font-size: 25px;
    margin-bottom: 5px;
  }
  h6 {
    text-align: left;
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  h7 {
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    /* text-transform: none; */
  }
  h8 {
    /* text-align: center; */
    display: block;
    font-size: 22px;
    margin-left: 20%; /* Left margin */
    margin-right: 20%; /* Right margin */
    margin-top: 20px;
    margin-bottom: 20px;
    word-wrap: break-word; /* This will ensure that the text wraps within the container */
  }
  .left-corner-text {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    top: 0;
    left: 0;
  }
  a {
    text-align: center;
    font-size: 25px;
    margin-top: 39px;
    margin-bottom: 39px;
  }
  .container {
    text-align: center;
  }
  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image_container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  .image_container2 {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-right: 30px;
    margin-top: 20px;
  }
  .video-stream {
      flex: 0 0 50%;
  }
  .data-display {
      flex: 0 0 50%;
      padding: 20px;
      border-left: 1px solid #ccc;
  }
  #goalButton {
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }
  #targetButton {
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }
  #targetButton2 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    /* background-color: {{ target2_color }}; */
  }


  *, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #FFF;
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in;
  }
  .nav {
    width: 270px;
    height: 100vh;
    background-color: #262626;
    left: -270px;
    top: 0;
    position: fixed;
    padding: 20px 0;
    /* box-shadow: 0 2px 4px rgba(0,0,0,.6); */
    transition: all 200ms ease-in-out;
    z-index: 99;
  }
  .toggle {
    position: absolute;
    left: 100%;
    background-color: #FFF;
    width: 40px;
    height: 40px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: default;
  }
  .toggle span {
    display: block;
    margin-top: -5px;
  }
  .logo {
    text-align: center;
    margin-bottom: 30px;
  }
  .logo  a{
    text-decoration: none;
    color: #888;
    font-size: 30px;
    text-shadow: 0 1px 3px rgba(0,0,0,.6);
    font-family: Arial, Helvetica, sans-serif;
  }
  .nav ul li {
    display: block;
    list-style: none;
  }
  .nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    transition: all 200ms ease;
  }
  .nav ul li a:hover {
    background-color: #444;
  }
  
  /* Show Nav */
  .show-nav .nav {
    left: 0;
  }
  .show-nav .overlay {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styling the content */
  .container  {
    max-width: 1000px;
    margin: 0 auto;
  }
  .content {
    background-color: #fff;
    margin-top: 100px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 2px rgba(0,0,0,.1)
  }
  .content h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    color: #333;
  }
  .content .lead {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 1.7;
  }
  .blimp-row {
    /* Styles for the row if needed */
    display: flex; /* This will help align items in a row */
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Adds space between rows */
  }
  .blimp-name {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 15px;
  }
  .barometer-calibration {
    text-align: center; /* Center-align the text in the button */
    /* You can set a specific width if needed */
    width: 150px;
  }
  .blimp-height {
    text-align: center;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
  }
  .blimp-z_velocity {
    text-align: center;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 15px;
    margin-right: 15px;
  }
  #baseBarometer {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }