<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Attack 2 Blimp Livestream</title>

        <!-- Include external style sheet-->
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        
        <!-- Include the SocketIO script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <body>
        <h4>Attack 2 Blimp Livestream</h4>
        <div class="container2">
            <div class="video-stream">
                <img src="{{ url_for('video_feed', feed_name='Attack 2') }}" alt="Stream Unavailable">
            </div>
            <div class="data-display">
                <h5>Bounding Box Data</h5>
                <h6>Balloon Data</h6>
                <div id="balloon-x-center"></div>
                <div id="balloon-y-center"></div>
                <div id="balloon-width"></div>
                <div id="balloon-height"></div>
                
                <h6>Yellow Goal Data</h6>
                <div id="y-goal-x-center"></div>
                <div id="y-goal-y-center"></div>
                <div id="y-goal-width"></div>
                <div id="y-goal-height"></div>
                
                <h6>Orange Goal Data</h6>
                <div id="o-goal-x-center"></div>
                <div id="o-goal-y-center"></div>
                <div id="o-goal-width"></div>
                <div id="o-goal-height"></div>
            </div>
        </div>
    </body>
    <script>
        // Connect to SocketIO server
        const socket = io();
        
        socket.on('bounding_box', (bounding_box) => {
            document.getElementById('balloon-x-center').textContent = 'X-CENTER:  ' + bounding_box.balloon.x_center;
            document.getElementById('balloon-y-center').textContent = 'Y-CENTER:  ' + bounding_box.balloon.y_center;
            document.getElementById('balloon-width').textContent = 'WIDTH:  ' + bounding_box.balloon.width;
            document.getElementById('balloon-height').textContent = 'HEIGHT:  ' + bounding_box.balloon.height;
            
            document.getElementById('y-goal-x-center').textContent = 'X-CENTER:  ' + bounding_box.y_goal.x_center;
            document.getElementById('y-goal-y-center').textContent = 'Y-CENTER:  ' + bounding_box.y_goal.y_center;
            document.getElementById('y-goal-width').textContent = 'WIDTH:  ' + bounding_box.y_goal.width;
            document.getElementById('y-goal-height').textContent = 'HEIGHT:  ' + bounding_box.y_goal.height;
            
            document.getElementById('o-goal-x-center').textContent = 'X-CENTER:  ' + bounding_box.o_goal.x_center;
            document.getElementById('o-goal-y-center').textContent = 'Y-CENTER:  ' + bounding_box.o_goal.y_center;
            document.getElementById('o-goal-width').textContent = 'WIDTH:  ' + bounding_box.o_goal.width;
            document.getElementById('o-goal-height').textContent = 'HEIGHT:  ' + bounding_box.o_goal.height;
        });
    </script>
</html>