<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pre-Flight Checklist</title>
    <link rel="icon" type="image/png" sizes="515x512" href="static/images/Blimp.png">

    <!-- Include external style sheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    
    <!-- Include the SocketIO script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!-- Sliding Drawer !-->
    <div class="overlay"></div>
    <nav class="nav">
        <div class="toggle">
        <span class="toggler">»</span>
        </div>
        <div class="logo">
        <a href="">Menu</a>
        </div>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Barometer">Barometer</a></li>
        <li><a href="/Mode">Mode</a></li>
        <li><a href="/Logs">Logs</a></li>
        <li><a href="/Checklist">Pre-Flight Checklist</a></li>
        </ul>
    </nav>
    <!-- <div class="left-corner-text"> Return to Main Page <img  src="static/images/Xbox_Button_B.png" width="20" height="20" ></img> </div> -->
    <h4>Pre-Flight Checklist</h4>
    <ol>
        <h9>
            Q: Why is this blimp is not connecting to the Basestation?
        </h9>

        <h8>
            A: This could be due to many reasons. All blimps publish to the identify topic over ROS 2. If your blimp is doing this, your blimp may not be in the list of known blimps for the Basestation. You will need to update this in the Basestation code.
        </h8>

        <h9>
            Q: How do I determine if a blimp's telemetry data is working?
        </h9>

        <h8>
            A: First, you'll need to have a barometer connected to the Basestation. Then, check the barometer page. If the height is updating and not static, the IMU on the blimp is working. If it is not, reflash the blimp's Teesny.
        </h8>

        <h9>
            Q: How do I check the blimp is executing my commands from the Basestation?
        </h9>

        <h8>
            A: Go to the logs page to see the commands being executed by each blimp.
        </h8>

        <h9>
            Q: There is a delay for my controller commands. How do I fix this?
        </h9>

        <h8>
            A: Check how much CPU/Memory the device running the Basestation is using. If this isn't the issue, check your Wifi's signal using a Wifi spectrum analyzer.
        </h8>

        <h9>
            Q: The blimp isn't responding to my motor commands at all. What is the issue?
        </h9>

        <h8>
            A: Make sure the blimp you are connected to is recieving commands through the logs page. Make sure the controller is connected and the dots on the Basestation are moving. If none of these are the issue, this could be an electronics problem with the blimp.
        </h8>

    </ol>
</body>
    <script>
        // Connect to SocketIO server
        const socket = io();

        // Menu
        let toggler = document.querySelector(".toggler");
        window.addEventListener("click", event => {
        if(event.target.className == "toggler" || event.target.className == "toggle") {
            document.body.classList.toggle("show-nav");
        } else if (event.target.className == "overlay") {
            document.body.classList.remove("show-nav");
        }
        // Change Toggler Icon
        if(document.body.className == "show-nav") {
            toggler.innerHTML = "&laquo";
        } else {
            toggler.innerHTML = "&raquo";
        }
        });
    </script>
</html>