<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
    <link rel="icon" type="image/png" sizes="515x512" href="static/images/Blimp.png">

    <!-- Include external style sheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    
    <!-- Include the SocketIO script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!-- Sliding Drawer !-->
    <div class="overlay"></div>
    <nav class="nav">
        <div class="toggle">
        <span class="toggler">»</span>
        </div>
        <div class="logo">
        <a href="">Menu</a>
        </div>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Barometer">Barometer</a></li>
        <li><a href="/Mode">Mode</a></li>
        <li><a href="/Logs">Logs</a></li>
        <li><a href="/Documentation">Documentation</a></li>
        </ul>
    </nav>
    <!-- <div class="left-corner-text"> Return to Main Page <img  src="static/images/Xbox_Button_B.png" width="20" height="20" ></img> </div> -->
    <h4>Documentation</h4>
    <ol>
        <h8>1. Run “./run.sh -o” within a terminal to startup basestation</h8>
        <h8>2. Connect a controller to the administrator's computer.</h8>
        <h8>3. Activate a blimp to connect to the basestation by plugging in batteries for Orange Pi and Teensy.</h8>
        <h8>4. Connect a controller to the blimp by using the Xbox controller's d-pad’s up or down arrows to select which blimp to connect to.</h8>
        <h8>5. As an administrator, select the corresponding goal color for catching blimps by toggling the "Goal" button by clicking it with a mouse or pressing “Y” on the controller. For attack blimps, toggle the “Target” button by clicking it with a mouse or pressing “X” on the controller.</h8>
        <h8>6. Activate autonomous mode on blimp by pressing “RT” on controller. Press "LT" to send all the blimps into autonomous mode.</h8>
        <h8>7. To maneuver manually, deactivate autonomous mode by pressing “RT” or "LT" again and using the left and right sticks on the controller.</h8>
        <h8>8. Click the "View Stream" hyperlink for the corresponding blimp to navigate to the livestream for that blimp.</h8>
        <h8>9. Use the sidebar menu to navigate to the Main, Logs, Barometer, or Documentation pages.</h8>
    </ol>
</body>
    <script>
        // Connect to SocketIO server
        const socket = io();

        // Menu
        let toggler = document.querySelector(".toggler");
        window.addEventListener("click", event => {
        if(event.target.className == "toggler" || event.target.className == "toggle") {
            document.body.classList.toggle("show-nav");
        } else if (event.target.className == "overlay") {
            document.body.classList.remove("show-nav");
        }
        // Change Toggler Icon
        if(document.body.className == "show-nav") {
            toggler.innerHTML = "&laquo";
        } else {
            toggler.innerHTML = "&raquo";
        }
        });
    </script>
</html>