<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="icon" type="image/png" sizes="515x512" href="static/images/Blimp.png">


    <!-- Include external style sheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    
    <!-- Include the SocketIO script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!-- Sliding Drawer !-->
    <div class="overlay"></div>
    <nav class="nav">
        <div class="toggle">
        <span class="toggler">»</span>
        </div>
        <div class="logo">
        <a href="">Menu</a>
        </div>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Barometer">Barometer</a></li>
        <li><a href="/Mode">Mode</a></li>
        <li><a href="/Logs">Logs</a></li>
        <li><a href="/Checklist">Pre-Flight Checklist</a></li>
        </ul>
    </nav>
    <!-- <div class="left-corner-text"> Return to Main Page <img  src="static/images/Xbox_Button_B.png" width="20" height="20" ></img> </div> -->
    <h4>Basestation Logs</h4>
    <div class="container2">
        <div id="logs-container" style="width: 35vw; height: 80vh; overflow-y: auto;"></div>
        <!-- <div id="teensy-motor-commands" style="width: 25vw; height: 25vh; margin-top: 0; margin-left: auto;"></div>
        <div id="basestation-motor-commands" style="width: 25vw; height: 25vh; margin-top: 0; margin-left: auto;"></div> -->
    </div>
</body>
    <script>
        // Connect to SocketIO server
        const socket = io();

        document.addEventListener("DOMContentLoaded", function() {
            const logsContainer = document.getElementById('logs-container');
            const savedContent = localStorage.getItem('logsContainerContent');
            if (savedContent) {
                logsContainer.innerHTML = savedContent;
            }
        });
        
        socket.on('logs', (blimp_dict) => {
            const now = new Date();
            const hours = now.getHours();
            const ampm = hours >= 12 ? 'PM' : 'AM';
            const hours12 = hours % 12 || 12; // Convert 0 to 12 for AM
            const minutes = now.getMinutes().toString().padStart(2, '0');
            const seconds = now.getSeconds().toString().padStart(2, '0');
            const timeString = `${hours12}:${minutes}:${seconds} ${ampm}`;
            const line = `[${timeString}] ${blimp_dict["blimp_id"]}: ${blimp_dict["log"]}`;
            const logsContainer = document.getElementById('logs-container');
            const paragraph = document.createElement('p');

            if (blimp_dict["log"] === "Goal Color changed to Orange") {
                paragraph.style.color = 'orange';
            }
            else if (blimp_dict["log"] === "Goal Color changed to Yellow") {
                paragraph.style.color = '#FFD700'; // gold color
            }
            else if (blimp_dict["log"] === "I'm shooting my shot...") {
                paragraph.style.color = 'purple';
            }
            else if (blimp_dict["log"] === "What a shot!") {
                paragraph.style.color = 'purple';
            }
            else if (blimp_dict["log"] === "Going for a catch...") {
                paragraph.style.color = 'green';
            }
            else if (blimp_dict["log"] === "Hopefully I got a balloon!") {
                paragraph.style.color = 'green';
            }
            else if (blimp_dict["log"] === "I'm ded xD") {
                paragraph.style.color = '#8B0000'; // dark red color
            }
            else if (blimp_dict["log"] === "Connected to Basestation") {
                paragraph.style.color = '#66ff00'; // bright green color
            }
            else if (blimp_dict["log"] === "Lost Connection to Basestation") {
                paragraph.style.color = 'red';
            }
            else if (blimp_dict["log"] === "Connected to MicroROS Agent") {
                paragraph.style.color = '#66ff00'; // bright green color
            }
            else if (blimp_dict["log"] === "Activating Auto Mode") {
                paragraph.style.color = 'blue';
            }
            else if (blimp_dict["log"] === "Going Manual for a Bit...") {
                paragraph.style.color = 'black';
            }

            //document.getElementById('basestation-motor-commands').innerText = `[${timeString}] ${blimp_dict["blimp_id"]} Motor Commands: ${blimp_dict["motorCommands"]}`;

            const motorCommands = "Motor Commands";
            if (line.includes(motorCommands)) {
                //document.getElementById('teensy-motor-commands').innerText = line;
            }
            else {
                paragraph.textContent = line;
                logsContainer.appendChild(paragraph);

                // This will auto-scroll to the bottom
                logsContainer.scrollTop = logsContainer.scrollHeight;

                // Save logsContainer content to localStorage
                localStorage.setItem('logsContainerContent', logsContainer.innerHTML);
            }
        });

        // Menu
        let toggler = document.querySelector(".toggler");
        window.addEventListener("click", event => {
        if(event.target.className == "toggler" || event.target.className == "toggle") {
            document.body.classList.toggle("show-nav");
        } else if (event.target.className == "overlay") {
            document.body.classList.remove("show-nav");
        }
        if(document.body.className == "show-nav") {
            toggler.innerHTML = "&laquo";
        } else {
            toggler.innerHTML = "&raquo";
        }
        });

    </script>
</html>