<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="icon" type="image/png" sizes="515x512" href="static/images/Blimp.png">


    <!-- Include external style sheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    
    <!-- Include the SocketIO script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!-- Sliding Drawer !-->
    <div class="overlay"></div>
    <nav class="nav">
        <div class="toggle">
        <span class="toggler">»</span>
        </div>
        <div class="logo">
        <a href="">Menu</a>
        </div>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Barometer">Barometer</a></li>
        <li><a href="/Logs">Logs</a></li>
        <li><a href="/Documentation">Documentation (Coming Soon!)</a></li>
        </ul>
    </nav>
    <!-- <div class="left-corner-text"> Return to Main Page <img  src="static/images/Xbox_Button_B.png" width="20" height="20" ></img> </div> -->
    <h4>Basestation Logs</h4>
    <div class="container2">
        <div id="logs-container" style="width: 35vw; height: 80vh; overflow-y: auto;"></div>
        <!-- <div id="teensy-motor-commands" style="width: 25vw; height: 25vh; margin-top: 0; margin-left: auto;"></div>
        <div id="basestation-motor-commands" style="width: 25vw; height: 25vh; margin-top: 0; margin-left: auto;"></div> -->
    </div>
</body>
    <script>
        // Connect to SocketIO server
        const socket = io();

        document.addEventListener("DOMContentLoaded", function() {
            const logsContainer = document.getElementById('logs-container');
            const savedContent = localStorage.getItem('logsContainerContent');
            if (savedContent) {
                logsContainer.innerHTML = savedContent;
            }
        });
        
        socket.on('logs', (blimp_dict) => {
            const now = new Date();
            const hours = now.getHours();
            const ampm = hours >= 12 ? 'PM' : 'AM';
            const hours12 = hours % 12 || 12; // Convert 0 to 12 for AM
            const minutes = now.getMinutes().toString().padStart(2, '0');
            const seconds = now.getSeconds().toString().padStart(2, '0');
            const timeString = `${hours12}:${minutes}:${seconds} ${ampm}`;
            const line = `[${timeString}] ${blimp_dict["blimp_id"]}: ${blimp_dict["log"]}`;
            const logsContainer = document.getElementById('logs-container');
            const paragraph = document.createElement('p');

            if (blimp_dict["log"] === "Goal Color changed to Orange") {
                paragraph.style.color = 'orange';
            }
            else if (blimp_dict["log"] === "Goal Color changed to Yellow") {
                paragraph.style.color = '#FFD700'; // gold color
            }
            else if (blimp_dict["log"] === "I'm shooting my shot...") {
                paragraph.style.color = 'purple';
            }
            else if (blimp_dict["log"] === "What a shot!") {
                paragraph.style.color = 'purple';
            }
            else if (blimp_dict["log"] === "Going for a catch...") {
                paragraph.style.color = 'green';
            }
            else if (blimp_dict["log"] === "Hopefully I got a balloon!") {
                paragraph.style.color = 'green';
            }
            else if (blimp_dict["log"] === "I'm ded xD") {
                paragraph.style.color = '#8B0000'; // dark red color
            }
            else if (blimp_dict["log"] === "Connected to Basestation") {
                paragraph.style.color = '#66ff00'; // bright green color
            }
            else if (blimp_dict["log"] === "Lost Connection to Basestation") {
                paragraph.style.color = 'red';
            }
            else if (blimp_dict["log"] === "Connected to MicroROS Agent") {
                paragraph.style.color = '#66ff00'; // bright green color
            }
            else if (blimp_dict["log"] === "Activating Auto Mode") {
                paragraph.style.color = 'blue';
            }
            else if (blimp_dict["log"] === "Going Manual for a Bit...") {
                paragraph.style.color = 'black';
            }

            //document.getElementById('basestation-motor-commands').innerText = `[${timeString}] ${blimp_dict["blimp_id"]} Motor Commands: ${blimp_dict["motorCommands"]}`;

            const motorCommands = "Motor Commands";
            if (line.includes(motorCommands)) {
                //document.getElementById('teensy-motor-commands').innerText = line;
            }
            else {
                paragraph.textContent = line;
                logsContainer.appendChild(paragraph);

                // This will auto-scroll to the bottom
                logsContainer.scrollTop = logsContainer.scrollHeight;

                // Save logsContainer content to localStorage
                localStorage.setItem('logsContainerContent', logsContainer.innerHTML);
            }
        });

        let toggler = document.querySelector(".toggler");

        window.addEventListener("click", event => {
        if(event.target.className == "toggler" || event.target.className == "toggle") {
            document.body.classList.toggle("show-nav");
        } else if (event.target.className == "overlay") {
            document.body.classList.remove("show-nav");
        }
        // Change Toggler Icon
        if(document.body.className == "show-nav") {
            toggler.innerHTML = "&laquo";
        } else {
            toggler.innerHTML = "&raquo";
        }
        });

        var controllerCheck = setInterval(pollController, 0);

        function pollController() {
            var gamepads = navigator.getGamepads();
            for (var i = 0; i < gamepads.length; i++) {
                var gamepad = gamepads[i];
                if (gamepad) {
                    handleGamepadButtons(gamepad);
                }
            }
        }

        // Initialize a variable to keep track of the previous state of the controller buttons and right trigger
        let controllerState = {
        up: false,
        down: false,
        left: false,
        right: false,
        rightTrigger: false,
        leftTrigger: false,
        rightBumper: false,
        leftBumper: false,
        xButton: false,
        yButton: false,
        bButton: false,
        aButton: false,
        homeButton: false,
        helpButton: false,
        menuButton: false
        };

        // Function to handle gamepad button presses and releases
        function handleGamepadButtons(gamepad) {
            
            // Check if the D-pad Up button was pressed in the previous state but is not pressed now (released)
            if (controllerState.up && !gamepad.buttons[12].pressed) {
                console.log('Xbox D-Pad Up released.');
            }
            // Check if the D-pad Down button was pressed in the previous state but is not pressed now (released)
            if (controllerState.down && !gamepad.buttons[13].pressed) {
                console.log('Xbox D-Pad Down released.');
            }
            // Check if the D-pad Left button was pressed in the previous state but is not pressed now (released)
            if (controllerState.left && !gamepad.buttons[14].pressed) {
                console.log('Xbox D-Pad Left released.');
            }
            // Check if the D-pad Right button was pressed in the previous state but is not pressed now (released)
            if (controllerState.right && !gamepad.buttons[15].pressed) {
                console.log('Xbox D-Pad Right released.');
            }
            
            // Check if the right trigger was pressed in the previous state but is not pressed now (released)
            if (controllerState.rightTrigger && gamepad.buttons[7].value === 0) {
                console.log('Xbox Right Trigger released.');
            }

            // Check if the left trigger was pressed in the previous state but is not pressed now (released)
            if (controllerState.leftTrigger && gamepad.buttons[6].value === 0) {
                console.log('Xbox Left Trigger released.');
            }

            // Check if the right bumper was pressed in the previous state but is not pressed now (released)
            if (controllerState.rightBumper && !gamepad.buttons[5].pressed) {
                console.log('Xbox Right Bumper released.');
            }

            // Check if the left bumper was pressed in the previous state but is not pressed now (released)
            if (controllerState.leftBumper && !gamepad.buttons[4].pressed) {
                console.log('Xbox Left Bumper released.');
            }

            // Check if the X button was pressed in the previous state but is not pressed now (released)
            if (controllerState.xButton && !gamepad.buttons[2].pressed) {
                console.log('Xbox X Button released.');
            }

            // Check if the Y button was pressed in the previous state but is not pressed now (released)
            if (controllerState.yButton && !gamepad.buttons[3].pressed) {
                console.log('Xbox Y Button released.');
            }

            // Check if the B button was pressed in the previous state but is not pressed now (released)
            if (controllerState.bButton && !gamepad.buttons[1].pressed) {
                console.log('Xbox B Button released.');
                window.history.back();
            }

            // Check if the A button was pressed in the previous state but is not pressed now (released)
            if (controllerState.aButton && !gamepad.buttons[0].pressed) {
                console.log('Xbox A Button released.');
                window.location.reload();
            }

            // Check if the Home button was pressed in the previous state but is not pressed now (released)
            if (controllerState.homeButton && !gamepad.buttons[16].pressed) {
                console.log('Xbox Home Button released.');
                socket.emit('kill_basestation');
            }

            // Takes user to documentation page
            // Check if the Help button was pressed in the previous state but is not pressed now (released)
            if (controllerState.helpButton && !gamepad.buttons[8].pressed) {
                console.log('Xbox Help Button released.');
            }

            // Check if the Menu button was pressed in the previous state but is not pressed now (released)
            if (controllerState.menuButton && !gamepad.buttons[9].pressed) {
                console.log('Xbox Menu Button released.');
                // Clear Logs
                // Add Icon Later
                const logsContainer = document.getElementById('logs-container');
                logsContainer.innerHTML = '';
                localStorage.setItem('logsContainerContent', logsContainer.innerHTML);
            }

            // Update the previous state of the controller buttons and right trigger
            controllerState = {
                up: gamepad.buttons[12].pressed,
                down: gamepad.buttons[13].pressed,
                left: gamepad.buttons[14].pressed,
                right: gamepad.buttons[15].pressed,
                rightTrigger: gamepad.buttons[7].value !== 0,
                leftTrigger: gamepad.buttons[6].value !== 0,
                rightBumper: gamepad.buttons[5].pressed,
                leftBumper: gamepad.buttons[4].pressed,
                xButton: gamepad.buttons[2].pressed,
                yButton: gamepad.buttons[3].pressed,
                bButton: gamepad.buttons[1].pressed,
                aButton: gamepad.buttons[0].pressed,
                homeButton: gamepad.buttons[16].pressed,
                helpButton: gamepad.buttons[8].pressed,
                menuButton: gamepad.buttons[9].pressed
            };
        }
    </script>
</html>