<!DOCTYPE html>
<html>
<head>
    <!-- Include external style sheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    
    <!-- Include the SocketIO script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div class="image_container">
    <img  src="static/images/SwampBlimpsLogo.png" width="400" height="144" ></img>
  </div>
  <div class="column-container">
    <div class="column">
      <table>
        <tr>
          <th>Inputs</th>
        </tr>
      </table>
      <!-- <div class="center">
          <h2>KEYBOARD</h2>
      </div>
      <div class="grid-container">
        <div id="grid1">
          <div id="dot1"></div>
          <div id="x-axis1"></div>
          <div id="y-axis1"></div>
        </div>
        <div id="grid2">
          <div id="dot2"></div>
          <div id="x-axis2"></div>
          <div id="y-axis2"></div>
        </div>
      </div> -->
      <div class="center">
          <h2 style="color: blue;">Controller 1</h2>
      </div>
      <div class="grid-container">
          <div id="grid3">
              <div id="dot3"></div>
              <div id="x-axis3"></div>
              <div id="y-axis3"></div>
          </div>
          <div id="grid4">
              <div id="dot4"></div>
              <div id="x-axis4"></div>
              <div id="y-axis4"></div>
          </div>
        </div>
        <div class="image_container2">
          <!-- <img  src="static/images/Dpad_Right.png" width="30" height="30" ></img> <h7 style="color: black;"><div class="center">Connect</div></h7> <h7 style="color: black;"><div class="center"> </div></h7> <img  src="static/images/Dpad_Left.png" width="30" height="30" ></img> <h7 style="color: black;"><div class="center">Disconnect</div></h7> -->
          <img  src="static/images/Dpad_Right.png" width="30" height="30" ></img> <h7 style="color: black;"><div class="center"> </div></h7> <img  src="static/images/Dpad_Left.png" width="30" height="30" ></img> <h7 style="color: black;"><div class="center">Connect/Disconnect</div></h7>
        </div>
        <div class="image_container2">
          <img  src="static/images/Dpad_Up.png" width="30" height="30" ></img> <h7 style="color: black;"><div class="center"> </div></h7> <img  src="static/images/Dpad_Down.png" width="30" height="30" ></img> <h7 style="color: black;"><div class="center">Toggle Up/Down</div></h7>
        </div>
        <div class="image_container2">
          <img  src="static/images/Xbox_Button_RT.png" width="30" height="30" ></img> <h7 style="color: black;"><div class="center">Single Toggle Auto</div></h7>
        </div>
        <div class="image_container2">
          <img  src="static/images/Xbox_Button_LT.png" width="30" height="30" ></img> <h7 style="color: black;"><div class="center">All Toggle Auto</div></h7>
        </div>
        <div class="image_container2">
          <img  src="static/images/Xbox_Button_RB.png" width="30" height="30" ></img> <h7 style="color: black;"><div class="center">Manual Catch</div></h7>
        </div>
        <div class="image_container2">
          <img  src="static/images/Xbox_Button_LB.png" width="30" height="30" ></img> <h7 style="color: black;"><div class="center">Manual Shoot</div></h7>
        </div>
        <div class="image_container2">
          <img  src="static/images/Xbox_Button_A.png" width="25" height="25" ></img> <h7 style="color: black;"><div class="center">Reload Page</div></h7>
        </div>
        <div class="image_container2">
          <img  src="static/images/Xbox_Button_Home.png" width="25" height="25" ></img> <h7 style="color: black;"><div class="center">Kill Basestation</div></h7>
        </div>
    </div>
    <div class="blimp-column">
      <table>
        <tr>
          <th>Blimps</th>
        </tr>
        <tbody id="blimpsTableBody">
          <!-- Blimp names will be added here -->
        </tbody>
      </table>
    </div>
    <div class="column">
      <table>
        <tr>
          <th>State</th>
        </tr>
        <tbody id="statesTableBody">
          <!-- State machine names will be added here -->
        </tbody>
      </table>
    </div>
    <div class="column">
      <table>
        <tr>
          <th>Target <img src="static/images/Xbox_Button_X.png" width="20" height="20" ></img></th>
        </tr>
      </table>
      <div class="center">
        <div class="targetButtonsContainer">
          <!-- Dynamic target buttons will be appended here -->
        </div>
      </div>
    </div>
    <div class="column">
      <table>
        <tr>
          <th>Goal <img  src="static/images/Xbox_Button_Y.png" width="20" height="20" ></img></th>
        </tr>
      </table>
      <div class="center">
        <div class="goalButtonsContainer">
          <!-- Dynamic goal buttons will be appended here -->
        </div>
      </div>
    </div>
    <div class="column">
      <table>
        <tr>
          <th>Stream <img  src="static/images/Xbox_Button_B.png" width="20" height="20" ></img></th>
        </tr>        
        <tbody id="streamTableBody">                    
          <!--Stream links will be appended here-->           
        </tbody>        
      </table>
    </div>
  </div>

  <!-- Include external JavaScript code-->
  <script>
    let client_ip = "{{ client_ip }}";
  </script>
  <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>
