<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mode</title>
    <link rel="icon" type="image/png" sizes="515x512" href="static/images/Blimp.png">
    <!-- Include external style sheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <!-- Include the SocketIO script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!-- Sliding Drawer !-->
    <div class="overlay"></div>
    <nav class="nav">
        <div class="toggle">
        <span class="toggler">»</span>
        </div>
        <div class="logo">
        <a href="">Menu</a>
        </div>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Barometer">Barometer</a></li>
        <li><a href="/Mode">Mode</a></li>
        <li><a href="/Logs">Logs</a></li>
        <li><a href="/Checklist">Pre-Flight Checklist</a></li>
        </ul>
    </nav>
    <!-- <div class="left-corner-text"> Return to Main Page <img  src="static/images/Xbox_Button_B.png" width="20" height="20" ></img> </div> -->
    <h4>Mode</h4>
    <!-- Place the static buttons side by side -->
    <div style="display: flex; justify-content: space-between;">
        <button id="all-auto-button" class="huge-button" style="background-color: blue; color: white; font-size: 30px;">All Auto</button>
        <button id="all-manual-button" class="huge-button" style="background-color: orange; color: white; font-size: 30px;">All Manual</button>
    </div>
    <div id="blimps-container">
        <!-- Blimp rows will be added here by JavaScript -->
    </div>
</body>
    <script>
        // Connect to SocketIO server
        const socket = io();

        var blimps;

        socket.on('mode', (all_blimps) => {
            console.log("Updated")
            update_mode(all_blimps);
        });

        // Add or update the all auto button event listener
        const allAutoButton = document.getElementById('all-auto-button');
        allAutoButton.onclick = function(event) {
            console.log('All Auto Mode Activated');
            // Add your logic for the all auto button here
            socket.emit('update_all_auto');
        };
        // Add or update the all manual button event listener
        const allManualButton = document.getElementById('all-manual-button');
        allManualButton.onclick = function(event) {
            console.log('All Manual Mode Activated');
            // Add your logic for the all manual button here
            socket.emit('update_all_manual');
        };

        function update_mode(blimps) {
            const sortedKeys = Object.keys(blimps).sort();
            const blimpsContainer = document.getElementById('blimps-container');
            // Get all current rows as a map for quick access
            const rows = {};
            blimpsContainer.querySelectorAll('.blimp-row').forEach(row => {
                rows[row.dataset.blimpName] = row;
            });
            // Iterate through the sorted keys array
            sortedKeys.forEach(function(key) {
                let row = rows[key];
                let auto_button;
                let manual_button;
                let name;
                let auto;
                let mode;
                let connected;
                if (!row) {
                    // Create a new row for each key
                    row = document.createElement('div');
                    row.className = 'blimp-row';
                    row.dataset.blimpName = key; // Store the key in a data attribute

                    //console.log(key);

                    // Create a span for the key text
                    name = document.createElement('span');
                    name.className = 'blimp-name';
                    name.textContent = key;
                    if (blimps[key]["selected"] == true) {
                        // Debugging
                        console.log(key);
                        console.log(blimps[key]["selected"]);
                        name.style.color = 'blue';
                    }
                    else {
                        name.style.color = 'black';
                    }

                    // Mode
                    mode = document.createElement('span');
                    mode.className = 'blimp-mode';
                    mode.textContent = blimps[key]["auto"];
                    //row.appendChild(mode);

                    // if (mode === true) {
                    //     name.textContent = key + ' - A';
                    // }
                    // else {
                    //     name.textContent = key;
                    // }

                    row.appendChild(name);

                    // Create an auto button for each key
                    auto_button = document.createElement('button');
                    auto_button.id = `auto_button_${key}`;
                    auto_button.className = 'long-button';
                    auto_button.textContent = 'Auto';
                    auto_button.style.color = 'white';
                    auto_button.style.fontSize = '15px';

                    // Create a manual button for each key
                    manual_button = document.createElement('button');
                    manual_button.id = `manual_button_${key}`;
                    manual_button.className = 'long-button';
                    manual_button.textContent = 'Manual';
                    manual_button.style.color = 'white';
                    manual_button.style.fontSize = '15px';

                    if (mode !== null && blimps[key]["auto"] !== null) {
                        if (blimps[key]["auto"] === true) {
                            console.log('true');
                            auto_button.style.backgroundColor = 'green';
                            manual_button.style.backgroundColor = 'red';
                        }
                        else {
                            console.log('false');
                            auto_button.style.backgroundColor = 'red';
                            manual_button.style.backgroundColor = 'green';
                        }
                    }
                    
                    row.appendChild(auto_button);
                    row.appendChild(manual_button);

                    // Append the new row to the container
                    blimpsContainer.appendChild(row);
                } else {
                    // If the row already exists, find the button in it
                    name = row.querySelector(`.blimp-name`);
                    mode = row.querySelector('.blimp-mode');
                    connected = row.querySelector('.blimp-connected');
                    
                    auto_button = document.getElementById(`auto_button_${key}`);
                    manual_button = document.getElementById(`manual_button_${key}`);
                    if (blimps[key]["auto"] !== null) {
                        if (blimps[key]["auto"] === true) {
                            auto_button.style.backgroundColor = 'green';
                            manual_button.style.backgroundColor = 'red';
                        }
                        else {
                            auto_button.style.backgroundColor = 'red';
                            manual_button.style.backgroundColor = 'green';
                        }
                    }
                }
                // Set or update the mode text content
                if (mode !== null && blimps[key]["auto"] !== null) {
                    mode.textContent = 'Mode: ' + blimps[key]["auto"];
                }
                // Set or update the connected blimp
                if (blimps[key]["selected"] === true) {
                    name.style.color = 'blue';
                }
                else {
                    name.style.color = 'black';
                }
                // Add or update the auto button event listener
                if (auto_button) {
                    auto_button.onclick = function(event) {
                        console.log('Auto Mode Activated for ' + key);
                        auto_button.style.backgroundColor = 'green';
                        manual_button.style.backgroundColor = 'red';
                        socket.emit('update_auto_true', key);
                    };
                }
                
                if (manual_button) {
                    // Add or update the manual button event listener
                    manual_button.onclick = function(event) {
                        console.log('Manual Mode Activated for ' + key);
                        manual_button.style.backgroundColor = 'green';
                        auto_button.style.backgroundColor = 'red';
                        socket.emit('update_auto_false', key);
                    };
                }
            });

            // Remove rows that no longer exist in the data
            Object.keys(rows).forEach(existingKey => {
                if (!blimps.hasOwnProperty(existingKey)) {
                    const rowToDelete = rows[existingKey];
                    blimpsContainer.removeChild(rowToDelete);
                }
            });
        }

        // Sidebar Menu
        let toggler = document.querySelector(".toggler");
        window.addEventListener("click", event => {
            if(event.target.className == "toggler" || event.target.className == "toggle") {
                document.body.classList.toggle("show-nav");
            } else if (event.target.className == "overlay") {
                document.body.classList.remove("show-nav");
            }
            // Change Toggler Icon
            if(document.body.className == "show-nav") {
                toggler.innerHTML = "&laquo";
            } else {
                toggler.innerHTML = "&raquo";
            }
        });
    </script>
</html>